/* Global reset */
body {
  margin: 0;
  padding: 0;

  /* Чист бял фон за модерен look */
  background-color: #ffffff;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* Тъмно зелено – основен текстов цвят */
  color: #143F2C;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
