/* Global reset */
body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #111827;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
